* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.top-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  height: 40vh;
  background-size: cover;
  padding: 20px 35px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.bottom-container {
  background-color: #152850;
  color: white;
  padding: 20px 25px;
  height: 60vh;
  overflow-y: auto;
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-container {
  border: 1px solid white;
}
.search {
  background-color: transparent;
  border-width: 0px;
  outline: none;
  color: white;
}
.image {
  height: 100px;
  width: 150px;
  margin-right: 12px;
}
.list-container {
  list-style-type: none;
  padding-left: 0;
}
.img-desc-container {
  display: flex;
}
.list-item {
  display: flex;
  justify-content: space-between;
  margin: 12px 0px;
}
.head {
  text-align: center;
}
